

        .fortycol {
          width: 35%;
        }
    
        .sixtycol {
          width: 65%;
          float:right;
        }
  
        .coolimg {
          border: 20px solid rgba(46, 109, 49, 0.3);
          border-radius: 30%;
        }

        .smallpad{
          padding-top: 0.5%;
          padding-bottom: 0.5%;
        }
  
        .padtop{
          padding-top: 3%
        }
  
        .padbot{
          padding-bottom: 1%
        }
  
        .bluebg{
          background-color: rgb(108, 136, 158)
        }

        .orangebg{
          background-color: rgb(243, 186, 112)
        }

        .colorbg{
          background-color: rgb(75, 74, 74)
        }

        .nicebg{
            background-color: rgb(201, 204, 223)
          }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        .brand-centered {
            display: flex;
            justify-content: center;
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
        }

        .navbar-brand {
            display: flex;
            align-items: center;
        }

        .logincontainer{
            width:25%;
        }

        .loginwidth{
            width:5%;
        }

        .slightrounded{
            border-radius:20%;
        }

        .coolcard{
           background-color:rgb(56, 48, 83, 0.4);

        }

        .buttonbg{
            background-color:rgba(184, 175, 212, 0.4);
 
         }
        
        .gamefont{
            color:rgb(165, 174, 184);
            font-family:verdana;
            font-size:35px;
        }

        .nicefont{
            color:rgb(70, 72, 73);
            font-family:verdana;
        }

        .carousel-item .carousel-caption {
            position: absolute;
            top: 0;
            left: 0;
            width:100%;
            text-align:center;
            z-index: 999999999;
            padding-top: 5px;
            color: #fff;
          }

          .carousel-item .carousel-caption2 {
            position: absolute;
            bottom: 7%;
            left: 0;
            width:100%;
            text-align:center;
            z-index: 999999999;
            padding-top: 10px;
            color: #fff;
          }

          .nopadtop{
              padding-top: 0%;
          }


          .dropdown {
            position: relative;
            display: inline-block;
          }


          .dropdown-content {
            position: absolute;
            right:0;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
          }

          .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
          }
          



          .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            margin-top: -22px;
            padding: 16px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
          }

          .prev:hover, .next:hover {
            background-color: rgba(0,0,0,0.8);
          }
          

          .next {
            right: 0;
            border-radius: 3px 0 0 3px;
          }

          .prev {
            left: 0;
            border-radius: 3px 0 0 3px;
          }

          .card{
            margin-left:10px;
            margin-right:10px;
          }
