<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Riddles </title>
        <link rel="stylesheet" href="game3.css ">
        <link rel="stylesheet" href="game33.css">
    </head>
    <body onload="startGame();">
        <!-- NAVBAR -->

      <nav class="navbar navbar-expand-lg bluebg navbar-light">

        <div class="collapse navbar-collapse" id="navbarText">

         
                <img class="bluebg rounded-circle"
                src="../resources/brain.png"
                alt="website icon"
                id="icon"
                width="90px"
                >

  
            <ul class="navbar-nav mr-auto">
  
            <li class="nav-item active">
              <a class="btn btn-default" type="button" onclick="redir('/home')">   Home   <span class="sr-only">(current)</span></a>
            </li>
  
            <li class = "nav-item">
                <a class="btn btn-default" type="button" onclick="redir('/login')">   logout  <span class="sr-only">(current)</span></a>
            </li>

          </ul>

           

        </div>

        
        
        
        <div class="form-inline my-2 my-lg-0">
            
            <div class="dropdown">
                
                <button onclick="dropdownfunc()" class="btn btn-default">
                    <img class="rounded-circle" src="http://cdn.onlinewebfonts.com/svg/img_243887.png" alt="" width="30" height="30">
                </button>
                
                    <div id="myDropdown" class="dropdown-content" style="visibility: hidden;">
                    <a href="#" id="usernamedropdown"><%-user%></a>
                    <a href="#">Settings</a>
                    </div>

            </div>

        </div>

      </div>
 

    </nav>

    <!--- END NAVBAR -->
        <div class="container">
            <div id="game" class="justify-center flex-column">
                <div id="hud">
                    
                    <div class="hud-item">
                        <div class="timer">
                            <h1 class="hud-main-text" id="time">05:00</h1>
                        </div>
                    </div>
                    <div class="hud-item">
                        <p class="hud-prefix">Score </p>
                            <h1 class="hud-main-text" id="score">
                                1000
                            </h1>
                    </div>
                </div>
                <h1 id="question">What  is the answer to this question?</h1>
                <div class="choice-container" onclick="checkRight1();">
                    <p class="choice-prefix">A</p>
                    <p class="choice-text"id="C1">Choice 1</p>
                </div>
                <div class="choice-container" onclick="checkRight2();">
                    <p class="choice-prefix">B</p>
                    <p class="choice-text"data-number="2"id="C2">Choice 2</p>
                </div>
                <div class="choice-container" onclick="checkRight3();">
                    <p class="choice-prefix">C</p>
                    <p class="choice-text"data-number="3"id="C3">Choice 3</p>
                </div>
                <div class="choice-container" onclick="checkRight4();">
                    <p class="choice-prefix">D</p>
                    <p class="choice-text"data-number="4"id="C4">Choice 4</p>
                </div>
            </div>
        </div>
        <script src="game3.js"></script>
        <script src="login.js"></script>
    </body>
</html>