<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="../Script/homesripts.js"></script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type="text/css" href="../Style/login.css" />
    <link rel="stylesheet" type="text/css" href="../Style/styles.css" />

  </head>

  <body class="nicebg">
    
    <!-- NAVBAR -->

    <nav class="navbar navbar-expand-lg bluebg navbar-light">

      <div class="collapse navbar-collapse" id="navbarText">

       
              <img class="bluebg rounded-circle"
              src="../resources/brain.png"
              alt="website icon"
              id="icon"
              width="90px"
              >


          <ul class="navbar-nav mr-auto">

          <li class="nav-item active">
            <a class="btn btn-default" type="button" onclick="redir('/home')">   Home   <span class="sr-only">(current)</span></a>
          </li>

          <li class = "nav-item">
              <a class="btn btn-default" type="button" onclick="redir('/login')">   Log Out  <span class="sr-only">(current)</span></a>
          </li>

        </ul>

         

      </div>

      
      
      
      <div class="form-inline my-2 my-lg-0">
          
          <div class="dropdown">
              
              <button onclick="dropdownfunc()" class="btn btn-default">
                  <img class="rounded-circle" src="http://cdn.onlinewebfonts.com/svg/img_243887.png" alt="" width="30" height="30">
              </button>
              
                  <div id="myDropdown" class="dropdown-content" style="visibility: hidden;">
                  <a href="#" id="usernamedropdown"><%-user%></a>
                  <a href="#">Settings</a>
                  </div>

          </div>

      </div>

    </div>


  </nav>

  <!--- END NAVBAR -->
    <div class="pt-5 container">   </div>


    <div class="pt-4 container">
        
        
        <a class="prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </a>

          <a class="next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </a>


        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

        

            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">


              <div class="carousel-item active">
                <img class="d-block w-100" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/047668fb-fcf5-4f67-8225-d13cc4435f67/dbipaag-fd1259b8-7ec2-4360-af8a-597dbce624dd.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA0NzY2OGZiLWZjZjUtNGY2Ny04MjI1LWQxM2NjNDQzNWY2N1wvZGJpcGFhZy1mZDEyNTliOC03ZWMyLTQzNjAtYWY4YS01OTdkYmNlNjI0ZGQuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Y_H_DTfm0HNNtYotyXtddsIrX4opfInVcQjpTVC5vjw" alt="pixel art by artist Sahnesi">

                <div class="carousel-caption d-none d-md-block">
                    <div class="card coolcard">
                        <div class="card-body">
                            <h5 class="gamefont">Boat Game</h5>
                              
                        </div>
                    </div>
                </div>
                <div class="carousel-caption2 d-none d-md-block">
                    <button class="buttonbg" type="button" onclick="redir('/boatGame')">Play Game!</button>
                </div>
            

              </div>

              <div class="carousel-item">
                <img class="d-block w-100" src="https://demmelearning.com/wp-content/uploads/2018/01/Math-Flash-Cards-Are-You-Using-Them-the-Wrong-Way.png" alt="art by analog on imgur">
                <div class="carousel-caption d-none d-md-block">
                    <div class="card coolcard">
                        <div class="card-body">
                            <h5 class="gamefont">Flashcards</h5>
                        
                        </div>
                    </div>
                  </div>
                  <div class="carousel-caption2 d-none d-md-block">
                    <button class="buttonbg" type="button" onclick=" location.href='../Games/game2/game2.html'">Play Game!</button>
                </div>
              </div>

              <div class="carousel-item">
                <img class="d-block w-100" src="https://elements-video-cover-images-0.imgix.net/files/251279749/preview_image.jpg?auto=compress%2Cformat&fit=min&h=394&w=700&s=b960085e593cdb9fd2fb2a767229caa7" alt="art by anasabdin">
                <div class="carousel-caption d-none d-md-block">
                    <div class="card coolcard">
                        <div class="card-body">
                            <h5 class="gamefont">Riddles</h5>
                      
                        </div>
                    </div>
                  </div>
                  <div class="carousel-caption2 d-none d-md-block">
                    <button class="buttonbg" type="button" onclick=" location.href='../Games/game_3/game3.html'">Play Game!</button>
                </div>
              </div>

            </div>

          </div>


    </div>

    <div class="pt-4 container center">
        <button class="buttonbg center" type="button" onclick="redir('/scores')">Leaderboards</button>
    </div>

    <div class="pt-5 container">   </div>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="../Script/login.js"></script>