<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Leaderboard</title>
    <link rel="stylesheet" href="leaderboardStyle.css">
    <style>
        h1{
            text-align: center;
        }
    </style>
  </head> 
  <body>
    
    <div class = "wrapper">
        <div class="lboard_header">
            <h1>Leader Board</h1>
            <div class="lboard_section" >
                <div class="lboard_tabs">
                    <div class="tabs">
                        <ul>
                            <li class="active" data-li="overall">Overall</li>
                            <li data-li="game1">Game 1</li>
                            <li data-li="game2">Game 2</li>
                            <li data-li ="game3">Game 3</li>
                        </ul>
                    </div>
                </div>
                <div class="lboard_wrap">
                    <div class="lboard_item game1" style="display: none;">
                        <div class="lboard_mem">
                            <div class="name_bar">
                                <p><span>1.</span> Maddie Seesdorf</p>
                            </div>
                            <div class="points">
                                195 points
                            </div><br>
                        </div>
                        <div class="lboard_mem">
                            <div class="name_bar">
                                <p><span>2.</span> Sarah Kramer</p>
                            </div>
                            <div class="points">
                                125 points
                            </div><br>
                        </div>
                        <div class="lboard_mem">
                            <div class="name_bar">
                                <p><span>3.</span> Madison Ray</p>
                            </div>
                            <div class="points">
                                100 points
                            </div><br>
                        </div>
                        <div class="lboard_mem">
                            <div class="name_bar">
                                <p><span>4.</span> Adam Smith</p>
                            </div>
                            <div class="points">
                                97 points
                            </div><br>
                        </div>
                        <div class="lboard_mem">
                            <div class="name_bar">
                                <p><span>5.</span>Robert Ortega</p>
                            </div>
                            <div class="points">
                                75 points
                            </div><br><br><br>
                        </div>
                    </div>
                    <div class="lboard_item game2" style="display: none;">
                        <div class="lboard_mem">
                            <div class="name_bar">
                                <p><span>1.</span>Kylie Elbert</p>
                            </div>
                            <div class="points">
                                195 points
                            </div><br>
                        </div>
                        <div class="lboard_mem">
                            <div class="name_bar">
                                <p><span>2.</span> Sarah Kramer</p>
                            </div>
                            <div class="points">
                                125 points
                            </div><br>
                        </div>
                        <div class="lboard_mem">
                            <div class="name_bar">
                                <p><span>3.</span> Madison Ray</p>
                            </div>
                            <div class="points">
                                100 points
                            </div><br>
                        </div>
                        <div class="lboard_mem">
                            <div class="name_bar">
                                <p><span>4.</span> Adam Smith</p>
                            </div>
                            <div class="points">
                                97 points
                            </div><br>
                        </div>
                        <div class="lboard_mem">
                            <div class="name_bar">
                                <p><span>5.</span>Robert Ortega</p>
                            </div>
                            <div class="points">
                                75 points
                            </div><br><br><br>
                        </div>
                    </div>
                    <div class="lboard_item game3" style="display: none;">
                        <div class="lboard_mem">
                            <div class="name_bar">
                                <p><span>1.</span> Jules Geneser</p>
                            </div>
                            <div class="points">
                                195 points
                            </div><br>
                        </div>
                        <div class="lboard_mem">
                            <div class="name_bar">
                                <p><span>2.</span> Sarah Kramer</p>
                            </div>
                            <div class="points">
                                125 points
                            </div><br>
                        </div>
                        <div class="lboard_mem">
                            <div class="name_bar">
                                <p><span>3.</span> Madison Ray</p>
                            </div>
                            <div class="points">
                                100 points
                            </div><br>
                        </div>
                        <div class="lboard_mem">
                            <div class="name_bar">
                                <p><span>4.</span> Adam Smith</p>
                            </div>
                            <div class="points">
                                97 points
                            </div><br>
                        </div>
                        <div class="lboard_mem">
                            <div class="name_bar">
                                <p><span>5.</span>Robert Ortega</p>
                            </div>
                            <div class="points">
                                75 points
                            </div><br><br><br>
                        </div>
                    </div>
                    <div class="lboard_item overall" style="display: block;">
                        <div class="lboard_mem">
                            <div class="name_bar">
                                <p><span>1.</span> Jack Krueger</p>
                            </div>
                            <div class="points">
                                195 points
                            </div><br>
                        </div>
                        <div class="lboard_mem">
                            <div class="name_bar">
                                <p><span>2.</span> Sarah Kramer</p>
                            </div>
                            <div class="points">
                                125 points
                            </div><br>
                        </div>
                        <div class="lboard_mem">
                            <div class="name_bar">
                                <p><span>3.</span> Madison Ray</p>
                            </div>
                            <div class="points">
                                100 points
                            </div><br>
                        </div>
                        <div class="lboard_mem">
                            <div class="name_bar">
                                <p><span>4.</span> Adam Smith</p>
                            </div>
                            <div class="points">
                                97 points
                            </div><br>
                        </div>
                        <div class="lboard_mem">
                            <div class="name_bar">
                                <p><span>5.</span>Robert Ortega</p>
                            </div>
                            <div class="points">
                                75 points
                            </div><br><br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="leaderBoard.js"></script>
</body>
</html>
