
<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="../script/homesripts.js"></script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type="text/css" href="../Style/login.css" />
    <link rel="stylesheet" type="text/css" href="../Style/styles.css" />

  </head>

<body class="nicebg">
    
<!-- NAVBAR -->


<nav class="navbar navbar-expand-lg bluebg navbar-light">

    <div class="collapse navbar-collapse" id="navbarText">

    
      <!-- <img class="bluebg rounded-circle"
            src="../resources/brain.png"
            alt="website icon"
            id="icon"
            width="90px"
      > -->

      <img class="bluebg rounded-circle"
            src="../resources/output-onlinepngtools (2).png"
            alt="website icon"
            id="icon"
            width="90px"
      >

      <ul class="navbar-nav mr-auto">

        <!-- <li class="nav-item active">
          <a class="btn btn-default" type="button" onclick="redir('/home')"> <span class="sr-only">(current)</span></a>
        </li> -->
        <!-- <img src="../resources/epicmahtgames.png" style="width:35%;"></img> -->


      </ul>

      <div class="collapse navbar-collapse navbar-brand brand-centered">

        <img class="bluebg rounded-circle" src="../resources/welcome-removebg-preview.png" style="width:18%;"></img>
        
      </div>

    </div>

  </div>

</nav>


<!--- END NAVBAR -->


<div class="container smallpad"></div>
<div class="container smallpad"></div>
<div class="container smallpad"></div>
<div class="container smallpad"></div>
<div class="container smallpad"></div>
<div class="container smallpad"></div>


<div class="pt-4 padbot row dbluebg">

  <div class="container orangebg logincontainer smallpad coolborder">

      <img class="center" src="../resources/cooltext394869447794294.png" width=200px></img>
      <form  autocomplete="off" action="/Login/login" class="form" method="POST">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="userName" style="font-family:verdana" id="username"
              >Username</label
            >
            <div class="col-sm-6">
              <input
              type="username"
              class="form-control"
              id="usrlogin"
              name="usrlogin"
              placeholder="Username"
            />
          </div>
        </div>
      
        <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="pass" style="font-family:verdana" id="password"
                >Password</label
              >
              <div class="col-sm-6">
                <input
                  type="password"
                  class="form-control"
                  id="passlogin"
                  name="passlogin"
                  placeholder="Password"
                />
              </div>  
        </div>

          <input class="" type="submit" name="loginbutton" value="Login" id="loginbutton"/>

      </form>

        <div class="row">

            <div class="col-sm-2"></div>

            <div class="col-sm-3">
                <h5>New?</h5>
            </div>

            <div class="col-sm-6">
                <a class="pt-2"
                href="#myModal"
                class="btn btn-info"
                data-toggle="modal"
                onclick="openModal()"
                >Click to Sign Up</a>
            </div>    
        </div>
    
</div> <!--right side div-->

<div class="container orangebg smallpad coolborder">

  <img class="center" src="../resources/gamess.png.png" style="width:19%;"></img>
  
  <div class="pt-2 row justify-content-center" style="text-align:center;">

    <div class="card bluebg" style="width: 12rem;" >
      <div style="text-align: center;">
      <img class="card-img-top" src="../resources/BESTBOATEVER.png" style="width:34%" alt="Card image cap">
      </div>

          <div class="card-body">
            <h5 class="card-title" style="text-align:center; font-family: verdana; font-size: 22px;  color: rgb(38, 38, 88); font-weight: bold;">Boat Game</h5>
              <p class="card-text"  style="color:rgb(175, 202, 233);">Avoid obstacles and answer math problems at a fast pace!</p>
            </div>
    </div>

    <div class="card bluebg" style="width: 12rem; ">
      <div style="text-align: center;">
        <img class="card-img-top" src="../resources/notecrdicon.png" style="width: 55%" alt="Card image cap">
        </div>
            <div class="card-body">
              <h5 class="card-title" style="text-align:center; font-family: verdana; font-size: 22px;  color: rgb(38, 38, 88); font-weight: bold;">Flashcards</h5>
                <p class="card-text"  style="color:rgb(175, 202, 233);">Beat your high score in fun intense math flashcards!</p>
            </div>
    </div>

    <div class="card bluebg" style="width: 12rem;">
      <div style="text-align: center;">
        <img class="card-img-top" src="../resources/riddleion.png" style="width: 55%" alt="Card image cap">
      </div>
            <div class="card-body">
                <h5 class="card-title" style="text-align:center; font-family: verdana; font-size: 22px;  color: rgb(38, 38, 88); font-weight: bold;">Riddles</h5>
                  <p class="card-text" style="color:rgb(175, 202, 233);">Test your critical thinking skills with challenging riddles!</p>
            </div>
 
  </div>      

  <div class="smallpad container"></div>

</div> <!--right bg div-->

</div> <!-- row /div-->



    <!-- Register Modal HTML -->

  <div id="myModal" class="modal fade">
      <div class="modal-dialog modal-login">
        <div class="modal-content">
          <div class="modal-header">
            <div class="avatar">
              <img
                src="../resources/brain.png"
                alt="iconsignup"
              />
            </div>
            <h4 class="modal-title">Sign Up</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-hidden="true"
            >
              &times;
            </button>
          </div>
          <div class="modal-body">

            <!-- Register Form  -->

            <form autocomplete="off" action="/Login/check" class="form" method="POST">

            <div class="form-group" >
              <input autocomplete="false"
                type="text"
                class="form-control"
                name="username"
                placeholder="Username"
                required="required"
              />
            </div>
            <div class="form-group" >
              <input autocomplete="false"
                type="text"
                class="form-control"
                name="email"
                placeholder="Example@email.com"
                required="required"
              />
            </div>
            <div class="form-group">
              <input autocomplete="false"
                type="password"
                class="form-control"
                name="password"
                placeholder="Password"
                id="psw"
                required="required"
              />
            </div>
            <div class="form-group">
              <input autocomplete="false"
                type="password"
                class="form-control"
                name="confirmpassword"
                placeholder="Confirm Password"
                id="cpsw"
                required="required"
              />
            </div>
            <div class="form-group">
              <!-- <button
                id="my_submit_button"
                class="btn btn-primary btn-block login-btn"
                name="submitbutton"
              >
                Sign Up
              </button> -->
              <input class="" type="submit" name="submitbutton" value="Create Account" id="submitbutton" style="background-color: gray;"/>
            </div>
          </form>
          </div>

          <!-- Password Requirement Stuff -->

          <div class="modal-footer">
            <div id="message" style="display: block">
              <h3>Password must contain the following:</h3>
              <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
              <p id="number" class="invalid">A <b>number</b></p>
              <p id="match" class="invalid">
                Password and Confirm Password Match
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br /><br /><br />

  </div>

  <footer class="bluebg bottomf">

    <div class="container text-center">
        
    <img  src="../resources/EPICMATHGAMESLOGO-removebg-preview.png" style="width:30%;">
 
    </div>

  </footer>

  

  </body>


</html>

<script src="../script/login.js"></script>


